html {
  body {
    &.--menu-open {
      overflow: hidden;
    }
    header {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: #121212;
      padding: 1rem;
      color: #ffffff;
      transition: all 160ms ease-in-out;
      z-index: 1;

      .header-img {
        position: relative;
        img {
          &.logo {
            width: 70%;
            max-width: 80px;
            height: auto;
            z-index: -1;
          }
        }

        .header-img-logo::after {
          content: "";
          background-image: url("../../assets/logo.png");
          background-repeat: no-repeat;
          background-size: 60px 50px;
          width: 60px;
          height: 50px;
          display: block;
        }
      }

      i {
        cursor: pointer;
        &.menu-botton {
          transition-property: all;
          transition-duration: 400ms;

          &::before {
            font-size: 3.5rem;
          }
        }
      }

      .header-navigation-bar-wrapper {
        width: 100%;
        .header-navigation-bar-items-wrapper {
          padding: 0 2rem;
          .header-navigation-bar-items {
            margin: 0.75rem;

            .header-navigation-bar-item {
              color: #ffffff;
              padding-top: 0.5rem;
              font-size: 1.5rem;
              max-width: 100px;
              transition: all 160ms;
              margin: auto;
              &.--isActive,
              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  margin: auto;
  background: #000000;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 200ms;

  .menu-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
  }

  img {
    &.logo {
      position: fixed;
      top: auto;
      bottom: 0;
      right: 0rem;
      left: auto;
      width: 40% !important;
      max-width: unset;
      opacity: 0.15;
      z-index: -1;
    }
  }

  .header-navigation-bar-item {
    color: #ffffff;
    width: fit-content;
    text-decoration: none;
    z-index: 1;
    margin: 2rem;
    font-size: 4rem;
    &.--isActive,
    &:hover {
      transform: scale(1.1);
    }
  }
}

// Tablet Style
@media #{$media-tablet} {
  html {
    body {
      header {
        .header-navigation-bar-wrapper {
          .header-navigation-bar-items-wrapper {
            width: calc(20% - 0rem);
            margin: 0.75rem 4rem;
          }
        }
      }
    }
  }
}

// Mobile Style
@media #{$media-mobile} {
  html {
    body {
      header {
        padding: 1rem 0.25rem;
        max-height: 100px;
        .header-img {
          margin: 0 0 0 1rem;
          .logo {
            max-height: 50px;
            // max-width: 50%;
            &::after {
              content: "";
              background-size: 50px 40px;
              width: 50px;
              height: 40px;
            }
            &.menu-logo {
              max-height: unset;
            }
          }
        }
      }
      .menu {
        a {
          font-size: 3rem;
        }
        img {
          &.logo {
            width: 90% !important;
          }
        }
      }
    }
  }
}
